<%- column_div :type => :primary do -%>
  <h2><%= @person.name %>'s Groups</h2>
  <%= render :partial => 'groups', 
             :locals => {:groups => @groups, :some_groups => @some_groups,
                :title => "Joined Groups", :link => "groups"} %>
  <%= render :partial => 'groups', 
             :locals => {:groups => @own_groups, :some_groups => @some_own_groups,
                :title => "Admin Groups", :link => "admin"} %>
  
<%- end -%>

<%- column_div :type => :secondary do -%>
  <% params[:model] = "Group" %>
  <%= render :partial => 'searches/box' %>
<%- end -%>

<div class="clear"></div>