<%- column_div :type => :primary do -%>
  
  <h2>Edit profile</h2>
  
  <%= render :partial => 'edit_nav' %>
  
  <%= render :partial => (params[:edit].blank? ? "profile" : params[:edit]) || "profile" %>
  
<%- end -%>

<%- column_div :type => :secondary do -%>
  <%= render :partial => 'searches/box' %>
<%- end -%>